<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>
    <div class="app">
        姓：<input type="text" name="" id="" v-model="First"><br>
        名：<input type="text" name="" id="" v-model="Next"><br>
        姓名：<span>{{showAll()}}</span>
    </div>
    <script>
        new Vue({
            el:".app",
            data:{
                First:'',
                Next:''
                
                
            },
            methods:{
                showAll(){
                    return this.First+'-'+this.Next
                }
            }
        
        })
    </script>
</body>
</html>